@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lobster, sans-serif;
}

$color-dark: #112031;
$color-grey: #152D35;
$color-green-dark: #345B63;
$color-green-light: #D4ECDD;